body {
  background-color: hsla(0, 0%, 83%, 0.496);
  font-family: "DM Sans";
}
h1,
h2 {
  margin: 0;
}
.container {
  display: grid;

  gap: 2em;
  align-content: center;
  align-items: center;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
  @media (width > 900px) {
    padding: 3em 4em;

    height: 100vh;
    grid-template-areas:
      "seven one one four"
      "seven two three four"
      "eight two three four"
      "eight six five five ";
  }
}

.card {
  background: white;
  padding: 1em;
  border-radius: 15px;
}

.c1 {
  grid-area: one;
  color: white;
  text-align: center;
  background-color: hsl(256, 67%, 59%);
  h1 {
    font-size: 3.5em;
    font-weight: 600;
    text-align: center;
  }
  img {
    width: 75%;
  }
  p {
    font-size: 1.3em;
    margin: 0;
  }
  span {
    color: hsl(39, 100%, 71%);
  }
}

.c2 {
  grid-area: two;
  img {
    width: 100%;
  }
}
.c3 {
  background-color: hsl(39, 100%, 71%);
  padding: 1em 1em 0 1em;
  grid-area: three;
  h2 {
    margin-bottom: 0.5em;
  }
  img {
    width: 75%;
    margin: 0;
  }
}
.c4 {
  grid-area: four;
  background-color: hsl(254, 88%, 90%);
  text-align: center;
  h2 {
    margin-bottom: 0.5em;
  }
  img {
    width: 90%;
    border-radius: 10px;
  }
}
.c5 {
  grid-area: five;
  color: white;
  background-color: hsl(256, 67%, 59%);
  text-align: center;
  h2 {
    font-size: 1.5em;
  }
  img {
    width: 70%;
  }
}
.c6 {
  grid-area: six;
  img {
    width: 50%;
  }
}
.c7 {
  grid-area: seven;
  background-color: hsl(31, 66%, 93%);
  h2 {
    margin-bottom: 0.5em;
  }
  img {
    width: 70%;
  }
}
.c8 {
  background-color: hsl(39, 100%, 71%);
  grid-area: eight;
  h2 {
    margin-bottom: 0.5em;
  }
  img {
    width: 70%;
  }
}
